section.card-info._container._row
  h3.card-info__caption._col-12
    | 3-комн. квартира, 80 м<sup>2</sup>
  ._col-12._col-lg-6.card-info__left
    .swiper-container.card-info__swiper#card
      .swiper-wrapper
        .swiper-slide.card-info__slide(style=`background-image: url(${require('../../img/card.jpg')})`)
        .swiper-slide.card-info__slide(style=`background-image: url(${require('../../img/card.jpg')})`)
        .swiper-slide.card-info__slide(style=`background-image: url(${require('../../img/card.jpg')})`)
        .swiper-slide.card-info__slide(style=`background-image: url(${require('../../img/card.jpg')})`)
    .card-info__spec
      .card-info__spec-item
        .card-info__spec-big
          | 3
        .card-info__spec-text
          | комн.
      .card-info__spec-item
        .card-info__spec-big
          | 80
          span.card-info__spec-text &nbsp;м
            sup 2
        .card-info__spec-text
          | площадь
      .card-info__spec-item
        .card-info__spec-big
          | 17
          span.card-info__spec-text &nbsp;м
            sup 2
        .card-info__spec-text
          | кухня
      .card-info__spec-item
        .card-info__spec-big
          | 4
          span.card-info__spec-text &nbsp;из&nbsp;7
        .card-info__spec-text
          | этаж
  ._col-12._col-lg-6._p-n.card-info__right
    .swiper-container.card-info__v-swiper#v-card
      .swiper-wrapper
        .swiper-slide.card-info__v-slide(style=`background-image: url(${require('../../img/offers1.jpg')})`)
        .swiper-slide.card-info__v-slide(style=`background-image: url(${require('../../img/offers2.jpg')})`)
        .swiper-slide.card-info__v-slide(style=`background-image: url(${require('../../img/offers3.jpg')})`)
        .swiper-slide.card-info__v-slide(style=`background-image: url(${require('../../img/offers4.jpg')})`)
      .card-info__prev#v-card-prev
      .card-info__next#v-card-next
    ._col-12.card-info__text
      | Шелепиха
    ._col-12.card-info__price
      | 24 855 000 ₽
      span.card-info__sub-price
        | 289 011 ₽/м²
    ._col-12.card-info__text._i1
      | Россия, Москва, Шелепихинская набережная, 34к2
    ._col-12.card-info__text._i2
      | Шелепиха, 10 мин. пешком
    ._col-12.card-info__text._i3
      | Ирина М.
    ._col-12.card-info__phone
      | Показать телефон
    ._col-12.card-info__botton-box
      a.button(href="/card.html") Оценка эксперта
      a.link.top-menu__icon._heart._offers(href="/#")
  ._col-12._col-lg-6._p-n._p-t
    h4._col-12.additional__caption
      | В&nbsp;цифрах
    .card-info__numbers-box
      .card-info__numbers-item
        .card-info__numbers-text Жилая
        .card-info__numbers-text 56 м<sup>2</sup>
      .card-info__numbers-item
        .card-info__numbers-text Высота потолков
        .card-info__numbers-text 4.3 м
      .card-info__numbers-item
        .card-info__numbers-text Санузел
        .card-info__numbers-text совмещенный
      .card-info__numbers-item
        .card-info__numbers-text Балкон
        .card-info__numbers-text 1
      .card-info__numbers-item
        .card-info__numbers-text Ремонт
        .card-info__numbers-text евро
      .card-info__numbers-item
        .card-info__numbers-text Вид из окон
        .card-info__numbers-text во двор
  ._col-12._col-lg-5._offset-lg-1
    h4.additional__caption._p-t
      | Описание
    .card-info__description-box
      .card-info__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu laoreet condimentum metus velit sit. Interdum elementum volutpat risus sapien aliquam. Laoreet vitae magnis at eu, diam, nunc. Amet consectetur varius enim mi lorem vestibulum mauris, sit.
      .card-info__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu laoreet condimentum metus velit sit. Interdum elementum volutpat risus sapien aliquam. Laoreet vitae magnis at eu, diam, nunc. Amet consectetur varius enim mi lorem vestibulum mauris, sit.