section.offers._container._row._p-t
  h3._col-12.additional__caption
    | Похожие объявления рядом
  ._col-12.swiper-container.swiper4#similar
    .swiper-wrapper
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
      .swiper-slide
        .offers__item._row
          .offers__top-img(style=`background-image: url(${require('../../img/offers1.jpg')})`)
          .offers__line-img-box
            .offers__line-img(style=`background-image: url(${require('../../img/offers2.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers3.jpg')})`)
            .offers__line-img(style=`background-image: url(${require('../../img/offers4.jpg')})`)
            .offers__line-other 3
          .offers__bottom._row
            .offers__cost
              | 5&nbsp;850&nbsp;000&nbsp;₽
            .offers__owner Собственник
            .offers__cost-m
              | 112&nbsp;500&nbsp;₽
            .offers__info-box
              .offers__info-item._type
                | 1-комн. квартира
              .offers__info-item._address
                | Москва, деревня Новофедоровская, ул.&nbsp;Десятинная
            .offers__button-box
              label.button(for="") Посмотреть
              a.link.top-menu__icon._heart._offers(href="/#")
    .swiper__btn-prev#similar-prev
    .swiper__btn-next#similar-next